body {
  background-color: #efefef;
  font-family: "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial;
}

h1 {
  text-align: center;
  height: 60px;
  line-height: 60px;
  display: none;
}

.container {
  position: relative;
}

.container .forkme {
  width: 149px;
  height: 149px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

.container .forkme > img {
  width: 100%;
  height: 100%;
}

.container h2 {
  color: #eee;
  font-size: 20px;
  line-height: 40px;
  text-indent: 10px;
}

.container .parabola, .container .sine, .container .circular, .container .freefall, .container .freefall2 {
  width: 100%;
  position: relative;
}

.container .parabola .ball, .container .sine .ball, .container .circular .ball, .container .freefall .ball, .container .freefall2 .ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

.container .parabola .line, .container .sine .line, .container .circular .line, .container .freefall .line, .container .freefall2 .line {
  width: 80%;
  height: 1px;
  background-color: rgba(230, 230, 230, 0.8);
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.container .parabola .line:before, .container .sine .line:before, .container .circular .line:before, .container .freefall .line:before, .container .freefall2 .line:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #fff;
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 0;
  top: -5px;
}

.container .parabola .line2, .container .sine .line2, .container .circular .line2, .container .freefall .line2, .container .freefall2 .line2 {
  height: 80%;
  width: 1px;
  background-color: rgba(230, 230, 230, 0.8);
  position: absolute;
  top: 10%;
  left: 50%;
}

.container .parabola .line2:before, .container .sine .line2:before, .container .circular .line2:before, .container .freefall .line2:before, .container .freefall2 .line2:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  left: -5px;
  top: 0;
}

.parabola {
  height: 600px;
  background-color: #0099CC;
  z-index: 10;
}

.parabola .ball {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.parabola .drap {
  width: 64px;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  position: absolute;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  top: 60%;
  left: 40%;
  padding: 5px;
}

.sine {
  height: 300px;
  background-color: #996699;
}

.sine .ball {
  top: 50%;
  left: 10%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.circular {
  height: 300px;
  background-color: #FF6666;
}

.circular .ball {
  top: 20%;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.freefall {
  height: 600px;
  background-color: #0099CC;
}

.freefall .ball {
  top: 90%;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.freefall .wall {
  width: 150px;
  height: 10px;
  background: linear-gradient(45deg, #9E9E9E 25%, #fff 0, #fff 50%, #9E9E9E 0, #9E9E9E 75%, #fff 0);
  background-size: 30px 30px;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.freefall2 {
  height: 600px;
  background-color: #996699;
}

.freefall2 .ball {
  top: 90%;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -10px);
  -moz-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
}

.freefall2 .wall {
  width: 150px;
  height: 10px;
  background: linear-gradient(45deg, #9E9E9E 25%, #fff 0, #fff 50%, #9E9E9E 0, #9E9E9E 75%, #fff 0);
  background-size: 30px 30px;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
